// Typography Rules
body{
    font-family: sans-serif;
    h1{
        font-weight: extra light;
        margin-left: 36px;
        margin-top: 20px;
        margin-bottom: 36px;
    }
}

i{
    margin-left:4px;
    margin-right:8px;
    color: lightcoral;
}